{% extends 'base.html.twig' %}

{% block title %}Détails de l'auteur{% endblock %}

{% block body %}
<h1>Détails de {{ author.username }}</h1>

<p>Nom: {{ author.username }}</p>
<p>Email: {{ author.email }}</p>
<p>Nombre de livres: {{ author.nbBooks }}</p>

<a href="{{ path('author_list') }}">Retour à la liste</a>
{% endblock %}
