{# templates/home/index.html.twig #}

<h2>Message positif du jour :</h2>
<p>{{ happyMessage }}</p>

<h2>Liste des auteurs :</h2>
<ul>
{% for author in authors %}
    <li>{{ author.username }} ({{ author.nbBooks }} livres)</li>
{% endfor %}
</ul>

<h2>Meilleurs auteurs (plus de 3 livres) :</h2>
<ul>
{% for author in bestAuthors %}
    <li>{{ author.username }} ({{ author.nbBooks }} livres)</li>
{% endfor %}
</ul>
